<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{ movie?.title || 'Loading...' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goFavourites()">
        <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="shareMovie()">
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="movie">
    <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" style="width: 100%;" />
    
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button *ngIf="!isFavourite" expand="block" color="danger" (click)="addToFavourites()" style="margin-bottom: 15px;">
        Add to Favourites ❤️
      </ion-button>

      <ion-button *ngIf="isFavourite" expand="block" color="tertiary" (click)="addToFavourites()" style="margin-bottom: 15px;">
        Remove From Favourites 💔
      </ion-button>

      <p [style.color]="movie.vote_average >= 7 ? '#2dd36f' : (movie.vote_average >= 5 ? '#ffca22' : '#eb445a')">
        ⭐ {{ movie.vote_average | number:'1.1-1' }}
      </p>
      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <br>
      <p style="font-size: 16px; line-height: 1.5;">{{ movie.overview }}</p>

      <ion-list-header>
        <ion-label>Cast</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item *ngFor="let person of visibleCast" (click)="openPersonDetails(person.id)" style="cursor: pointer;">
          <ion-thumbnail slot="start">
            <img *ngIf="person.profile_path" src="https://image.tmdb.org/t/p/w500{{ person.profile_path }}" />
            <ion-label *ngIf="!person.profile_path">No image</ion-label>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ person.name }}</h2>
            <p>{{ person.character }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button *ngIf="cast.length > 5" fill="clear" (click)="showAllCast = !showAllCast">
        {{ showAllCast ? 'Show Less' : 'Show More' }}
      </ion-button>

      <ion-list-header>
        <ion-label>Crew</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item *ngFor="let member of visibleCrew">
          <ion-label>
            <h2>{{ member.name }}</h2>
            <p>{{ member.job }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      
      <ion-button *ngIf="crew.length > 5" fill="clear" (click)="showAllCrew = !showAllCrew">
        {{ showAllCrew ? 'Show Less' : 'Show More' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>