<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourite Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div *ngIf="favouriteMovies.length > 0">
  <ion-card *ngFor="let movie of favouriteMovies" style="max-width: 300px;">
    <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" (click)="goToDetails(movie.id)" />
    
    <ion-card-content>
      <ion-label>
        <h2 style="font-weight: bold; color: black;">{{ movie.title }}</h2>
      </ion-label>

      <ion-button expand="block" (click)="goToDetails(movie.id)" style="margin-top: 10px;">
        DETAILS
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="removeFromFavourites(movie.id)" style="margin-top: 5px;">
        <ion-icon slot="start" name="trash"></ion-icon>
        Remove
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="favouriteMovies.length === 0" style="text-align: center; margin-top: 50px; color: gray;">
  <p>No favourites yet!</p>
</div>

</ion-content>