<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>{{ studentNumber }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-item lines="inset">
      <ion-label position="stacked">Search</ion-label>
      <ion-input name="searchTerm" placeholder="Movie Name" [(ngModel)]="searchTerm"></ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="searchMovies()" class="ion-margin">
      SEARCH
    </ion-button>
  
    <ion-text color="dark">
      <h2 class="ion-padding-start">{{ displayTitle }}</h2>
    </ion-text>
    <div style="display: flex; gap: 10px; padding-left: 16px; margin-bottom: 10px;">
      <ion-button size="small" fill="outline" (click)="sortMovies('rating')">
        Top Rated ⭐
      </ion-button>
      <ion-button size="small" fill="outline" (click)="sortMovies('name')">
        A-Z 🔠
      </ion-button>
    </div>
  <ion-list>
    <ion-item *ngFor="let movie of movies" button (click)="openDetails(movie)">
      <ion-thumbnail slot="start">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
